* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Poppins Thin";
  line-height: 1.4;
  font-size: 18px;
}

button {
  cursor: pointer;
  outline: 0;
}

input {
  outline: 0;
}